###############################################################################
## General Section
###############################################################################

[General]

serviceUniqueId=
serverNames=es1
eventGroupNames=event1
;apiNames=

###############################################################################
## Server Section
###############################################################################

[es1]

host=
;port=9200
;urlPrefix=
;user=
;password=
;useSSL=yes
;verifyCertificate
;verifyCertBundle
;verifyHostName
;clientCertificate
;clientKey

###############################################################################
## Event Section
###############################################################################

[event1]

topics=
documentIndex=
documentType=
idFieldName=

###############################################################################
## Settings for thread pools
###############################################################################

[MessageCallbackPool]

# The queue size for invoking DXL message callbacks
# (optional, defaults to 1000)
;queueSize=1000

# The number of threads available to invoke DXL message callbacks
# (optional, defaults to 10)
;threadCount=10

[IncomingMessagePool]

# The queue size for incoming DXL messages
# (optional, defaults to 1000)
;queueSize=1000

# The number of threads available to handle incoming DXL messages
# (optional, defaults to 10)
;threadCount=10
